@import "tailwindcss";
@plugin "tailwindcss-animate";

html,
body {
  width: 100dvw;
  height: 100dvh;
}

@utility view-transition-* {
  view-transition-name: --value([ *]);
}

@custom-variant aria-current-page (&[aria-current="page"]);

@custom-variant view-transition-new (&::view-transition-new(*));

@custom-variant view-transition-old (&::view-transition-old(*));

@custom-variant view-transition-group (&::view-transition-group(*));
