@import "tailwindcss";

html,
body {
  width: 100dvw;
  height: 100dvh;
}

@utility view-transition-* {
  view-transition-name: --value([ *]);
}

@custom-variant aria-current-page (&[aria-current="page"]);
